@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
}

main {
  max-width: 1320px;
  width: 100%;
}

.text-primary {
  color: #ff0000;
}

main .hero-banner {
  width: 100%;
  height: 600px;
  border-radius: 16px;
  font-family: "Merriweather", serif;
  background-image: linear-gradient(
      180deg,
      rgb(7, 2, 17),
      rgba(7, 2, 17, 0) 100%
    ),
    url("/images/Banner\ Image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 60px 0px;
}

main .hero-banner .title {
  width: 632px;
  padding: 20px;
  color: rgb(255, 255, 255);
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
  letter-spacing: 0%;
  text-align: center;
}

main .hero-banner .subtitle {
  color: rgb(255, 255, 255);
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: center;
}

main .offer-wrapper {
  display: flex;
  flex-direction: column;
  gap: 45px;
  align-items: center;
  justify-content: center;
  font-family: Inter;
  margin: 120px 0px;
}

main .offer-wrapper .title {
  font-size: 88px;
  font-weight: 700;
  line-height: 107px;
  letter-spacing: 0%;
  text-align: center;
}

main .offer-wrapper .subtitle {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: center;
}

main .offer-wrapper .cat-title {
  color: rgb(7, 2, 17);
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 16px;
}

main .welcome-wrapper {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      90deg,
      rgb(7, 2, 17),
      rgba(7, 2, 17, 0) 100%
    ),
    url("/images/Vectorrr.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 16px;
  margin-bottom: 120px;
}

main .welcome-wrapper .welcome-container {
  width: 80%;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

main .welcome-wrapper .welcome-container .title {
  color: rgb(255, 255, 255);
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 11%;
  text-align: left;
}
main .welcome-wrapper .welcome-container .left-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: start;
}
main .welcome-wrapper .welcome-container .desc {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
}
main .welcome-wrapper .welcome-container .like-btn {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}

main .location {
  height: 482px;
  border-radius: 16px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1),
    rgba(255, 0, 0, 0) 100%
  );
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
}
main .location .info {
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
}
main .location .btn {
  margin-top: 48px;
  padding: 16px 32px 16px 32px;
  border-radius: 8px;
  background: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  outline: none;
  border: none;
  cursor: pointer;
}

main .coming-soon{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
    margin: 120px 0px;
}

main .coming-soon .left-content,.right-content{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;
}

main .coming-soon .left-content .title{
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
}

main .coming-soon .left-content .subtitle{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: center;
}

main .coming-soon .left-content .desc{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
}

main .coming-soon .center-content img{
    width: 365px;
    height: 365px;
    padding: 49px;
    border: 15px solid rgb(255, 0, 0);
    border-radius: 100%;
}

main .coming-soon .right-content .title{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0%;
    text-align: left;
}

main .coming-soon .right-content .desc{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
}
main .holiday-sale{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    align-items: center;
    justify-content: center;
}

main .holiday-sale .heading-texts{
    width: 1068px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

main .holiday-sale .heading-texts .title{
    font-family: Merriweather;
font-size: 72px;
font-weight: 900;
line-height: 91px;
letter-spacing: 0%;
text-align: center;
}
main .holiday-sale .heading-texts .subtitle{
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
}

main .holiday-sale .heading-texts .desc{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
    margin: 0px 20px;
}

main .holiday-sale .gift-discount-icon{
    width: 100%;
    margin: 60px 0px;
}

main .holiday-sale .gift-discount-icon .icon-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main .holiday-sale .gift-discount-icon .icon-wrapper .gift-img{
    width: 775px;
    height: auto;
    margin-bottom: -220px;
}

main .holiday-sale .gift-discount-icon .icon-wrapper .discount-img{
    width: 300px;
    height: 300px;
    padding: 15px;
}

main .holiday-sale .footer-bg{
    height: 230px;
    background: rgb(255, 0, 0);
    border-radius: 16px;
}